!!!
%html
  %head
  %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600', rel: 'stylesheet', type: 'text/css'}
    %title= APP_CONFIG['title']
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application", "welcome"
    = @headtags
    = csrf_meta_tags
  %body
    #header
      %span#banner= link_to(APP_CONFIG['title'], 'home', id: 'bannerText');
      %ul.nav
        -APP_CONFIG['sections'].each do |section|
          -if section != @curSection
            %li.section
              = link_to(section, section)
    #content
      = yield
    #footer
      %p
        Omar Diab &copy; 2012 &#124; 
        = link_to('About this site', 'about')
