!!!
%html
  %head
  %link{href: 'http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Open+Sans:400italic,600,400', rel: 'stylesheet', type: 'text/css'}
    %title Omar Diab
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application", "welcome"
    = @headtags
    = csrf_meta_tags
  %body
    .div#header
      %span#pageheader Omar Diab
      %ul.nav
        -Omardiab::Application.config.sections.each do |section|
          -if section != @curSection
            %li.section
              = link_to(section, section)
    .div#content
      = yield
    .div#footer
      %p
        Omar Diab &copy; 2012 &#124; 
        = link_to('About this site', 'about')
